.background-img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    z-index: -1;
}

.poster-large {
    width: 100%;
    height: 480px;
}

.hover-face {
    position: relative;
    z-index: 0;
}

.opacity::after {
    content: "";
    position: absolute;
    top:538px;
    width: 100%;
    height:550px;
    background: linear-gradient(to top,
            rgb(25, 27, 36),
            rgb(25, 27, 36),
            rgb(25, 27, 36),
            rgb(25, 27, 36),
            rgba(25, 27, 36,0.9),
            rgba(25, 27, 36, 0.7),
            rgba(27, 27, 27, 0.5));
}

.left-box {
    border-top-right-radius: 48px;
    border-top-left-radius: 20px;
    background-color: rgba(25, 27, 36, 0.3);
    backdrop-filter: blur(20px);
    min-height: 930px;
}

.right-box {
    border-top-left-radius: 48px;
    border-top-right-radius: 20px;
    background-color: rgba(25, 27, 36, 0.3);
    backdrop-filter: blur(20px);
    min-height: 960px;
}

.opacity {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(27, 27, 27, 0.5), rgba(80, 79, 79, 0.2) ,rgba(80, 79, 79, 0.2), rgba(27, 27, 27, 0.5));
}

.poster-small {
    width: 180px;
    height: 240px;
    object-fit: cover;
    border-radius: 12px;
}

.text-gray {
    color: rgb(179, 178, 178);
}

.movie-genre {
    font-size: 12px;
    background-color: rgb(74, 72, 72);
    padding: 5px 9px;
    border-radius: 5px;

    &:hover {
        color: var(--red);
    }
}