.wrapper {
    padding: 4px 16px;
    box-sizing: border-box;
    border: none;

    +.wrapper {
        margin-left: 18px;
    }
}

.primary {
    background-color: var(--red);
    color: rgb(33, 33, 33);
    font-weight: 600;

    &:hover {
        background-color: #efc55a;
    }
}

.gold {
    background-image: linear-gradient(135deg, #eec459, #f1da9f, #e6e6e6);
}


.outLine {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-family: var(--font) !important;

    &:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }
}

.small {
    height: 36px;
    text-align: center;
}

.large {
    height: 46px;
}

.rounded {
    border-radius: 8px;
}

.roundedBig {
    border-radius: 28px;
}