# ========================
# Node.js / React
# ========================
node_modules/
build/
dist/
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnp/
.pnp.js

# Testing
coverage/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# IntelliJ / IDEA
# ========================
.idea/
*.iml
*.iws
*.ipr
out/
target/       # Maven hoặc Gradle build output
!.mvn/wrapper/maven-wrapper.jar

# ========================
# OS-specific files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log
logs/
spring.log

# ========================
# Misc
# ========================
*.class
*.jar
*.war
*.ear

# ========================
# Java / Spring Boot
# ========================
*.db
*.h2.db
*.sqlite
*.mv.db


