.wrapper {
    height: 350px;
    font-size: 18px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.warpperSmall {
    height: 280px;
    font-size: 14px;
    width: auto;
    background-color: rgb(46, 46, 46);
    border-radius: 7px;
    color: black !important;
    display: flex;
    align-items: center;

    .poster {
        height: 70%;
        width: 90%; 
        border-radius: 6px !important; 
    }

    .nameVN {
        padding: 5px 2px;
    }
}

.poster {
    height: 80%;
    width: 100%;
    overflow: hidden !important;
    box-sizing: border-box;
    position: relative;

    img {
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        width: 100%;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            transform: scale(1.15);
        }
    }
}

.age-limit-tag {
    position: absolute;
    top: 0px;
    padding: 1px 6px;
    font-size: 13px;
    font-weight: 500;
    border-bottom-right-radius: 8px;
    background-color: rgb(34, 124, 242);
}


.tag_red {
    background-color: rgb(242, 67, 67);
}

.tag_orange {
    background-color: orange;
}

.genre,
.rating {
    font-size: 14px;
}

.number-rank {
    font-size: 48px;
    font-weight: 800;
    font-style: italic;
    padding-right: 7px;
    line-height: 46px;
    background: linear-gradient(to bottom, #e9e2c9, #eec459);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

@media screen and (max-width: 780px) {
    .wrapper {
        height: 270px;
    }

    .nameVN {
        font-size: 14px !important;
    }

    .number-rank {
        font-size: 30px !important;
        line-height: 38px;
    }
}