/* Loại bỏ padding ở phần nội dung modal */
.trailer-modal .ant-modal-content {
    padding: 0 !important;
    background-color: black !important;
}

.trailer-modal-2 .ant-modal-content {
    padding: 0 !important;
    background-color: #2a314e !important;
}

/* Loại bỏ padding body */
.trailer-modal .ant-modal-body {
    padding: 0 !important;
}