.hero-slider {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    color: white;
}

.hero-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;

    background-repeat: no-repeat;
}

/* .hero-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent 60%);
} */

/* .hero-content {
    position: relative;
    z-index: 2;
    max-width: 50%;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.btn-play {
    background: #facc15;
    color: black;
    font-weight: bold;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
} */

.thumbnail-navigation {
    position: absolute;
    bottom: 15px;
    right: 30px;
    display: flex;
    gap: 10px;
    z-index: 3;
}

.thumbnail {
    width: 80px;
    height: 55px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid gray;
    transition: border 0.3s ease;
}

.thumbnail:hover {
    border-color: #facc15;
}

.opacit {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.6),
            rgb(46, 44, 44, 0.2),
            rgb(46, 44, 44, 0.1),
            rgba(0, 0, 0, 0.5));
    position: relative;
}

.content-slide {
    position: absolute;
    top: 35%;
    left: 100px;
    width: 40%;
    text-align: left;
    color: #eee;
    transform: translate(0, -50px);
    /* display: none; */
}

.dot-grid::before {
    content: "";
        width: 100%;
        height: 110%;
        position: absolute;
        background-image: url('../../../public/img/dotted.png');
        opacity: 0.2;
}

.detail {
    font-size: 12px;
    font-weight: 700;
    animation: animate 1s ease-in-out 1 forwards;
}

.detail p {
    margin-right: 16px;
    padding: 2px 4px !important;
}

.infor-movie {
    font-size: 15px;
    animation: animate 1s ease-in-out 1 forwards;
}

.content-slide .name-slide {
    font-size: 44px;
    font-weight: bold;
    animation: animate 1s ease-in-out 1 forwards;
}

.login-btn {
    background-image: linear-gradient(135deg, #eec459, #f1da9f, #e6e6e6);
}

.content-slide .des {
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 15px;
    animation: animate 0.8s ease-in-out 1 forwards;
}


.kj {
    font-size: 15px;
}



