.ant-menu-item a {
    text-decoration: none;
}

.ant-breadcrumb-link {
    text-decoration: none;
}

.ant-breadcrumb-link:hover {
    text-decoration: none;
}

.ant-dropdown-menu-item a {
    text-decoration: none;
}