// .customize {
//     font-weight: 700;
//     text-transform: uppercase;
//     text-align: center;
//     background: linear-gradient(to right,
//             #fc72ff,
//             #8f68ff,
//             #487bff,
//             #8f68ff,
//             #fc72ff);
//     background-size: 200%;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     animation: animate-gradient 2.5s linear infinite;
    
// }

.customize {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right,
            #d40707,
            #ba0303,
            #770c0c,
            #e6a12a,
            #7d4a03);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;

}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    } }