.header {
    position: fixed !important;
    // position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 999 !important;
    transition: background-color 0.3s ease;
    background-image: linear-gradient(to bottom,
            rgba(23, 23, 23, 0.9),
            rgba(23, 23, 23, 0.5), rgba(0, 0, 0, 0.2),
            rgba(255, 255, 255, 0));
    // backdrop-filter: blur(6px);
}

.scrolled {
    background-color: var(--footer-bg);
}

.logo-header {
    width: 80px;
}

.custome-btn {
    background-color: var(--red);
    font-size: 14px;
}

.login-btn {
    background-image: linear-gradient(to right, #ffd875, #d5d5d5) !important;
    color: red;
}

.header {
    position: sticky;
    top: 0;
    z-index: 9999;

    .mobileMenu {
        position: fixed;
        top: 58px;
        right: 0;
        width: 100%;
        background-color: #000;
        padding: 1rem;
        z-index: 99999;
        animation: slideDown 0.3s ease-in-out;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    ul li {
        cursor: pointer;
    }
}