.overlay {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100vw;
    height: 93vh;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3); // làm tối nhẹ
    z-index: 998; // dưới Tippy nhưng trên giao diện
}

.search-place {
    font-size: 14px;
    padding-right: 40px;
    width: 290px;
    background-color: rgba(202, 202, 202, 0.3);
    padding-left: 14px !important;

    input::placeholder {
        color: rgb(246, 242, 242);
    }

    &:focus-within {
        border: 2px solid rgb(220, 220, 220) !important;
    }
}

.search-layout {
    max-height: 290px;
    overflow: auto;
}

.search-result-layout {
    min-width: 310px;
    max-width: 310px;

    img {
        width: 70px;
    }
}

.search-input:focus-visible {
    outline-width: 0;
    width: 100%;
}

.genre {
    font-size: 14px;
}

.arr {
    min-width: 290px;
}

@media screen and (max-width: 780px) {
    .search-place {
      width: auto;
      flex-grow: 1;
    }
}